extends layout

block content
  h1= title
  p The current vote question is:
  p= question
  form(action=action method="POST")
    each ans in answers
      input(type="submit" value="#{ans}")
  p This vote expires in #{ttl} seconds.
