extends layout

block content
  h1 QuickVote Results
  p The current vote question is:
  p.lead(class="text-primary")= question
  ul
    each count, ans in tally
      li #{ans}: #{count}
  
  script.
    var data = !{JSON.stringify(arr)};
  div.row
    div(class="col-xs-12 col-md-12")
      svg.chart(width="100%" viewBox="0 0 960 500", preserveAspectRatio="xMidYMid meet")
  script(src='https://d3js.org/d3.v3.min.js', charset="utf-8")
  script(src="/javascripts/barchart.js")

  p.info This vote expires in #{ttl} seconds.
